
<div class="ion-page" id="main-content"></div>
  <!-- header -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Habitos</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- inicio de codigo -->
<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Get eggs"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Get milk"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Take out compost"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Pick up dry cleaning"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Call mom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Order more dog food"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Think of new tasks for this demo"></ion-input>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="toolbar-fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>

<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button >
      <ion-icon name="home" (click)="menuPrincipal()"></ion-icon>
      Inicio
    </ion-tab-button>


    <ion-tab-button>
      <ion-icon name="barbell" (click)="menuHabitos()"></ion-icon>
      Habitos
    </ion-tab-button>


    <ion-tab-button>
      <ion-icon name="library"></ion-icon>
      Actividad
    </ion-tab-button>


    <ion-tab-button>
      <ion-icon name="exit" (click)="cerrarSesion()"></ion-icon>
      Cerrar sesion
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
