<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recuperarContrasena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">recuperarContrasena</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<!-- 
<body>
  <div class="container">
      <h2>Restablecer Contraseña</h2>
      <form id="restablecer-form">
          <label for="usuario">Nombre de Usuario:</label>
          <input type="text" id="usuario" name="usuario" required>
          <button type="submit">RECUPERAR</button>
      </form>
  </div>
  <script src="scripts.js"></script>
</body>
</html> -->/