<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="name" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="surname" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Fecha de Nacimiento</ion-label>
    <ion-datetime [(ngModel)]="birthdate"></ion-datetime>
  </ion-item>

  <ion-button expand="full" (click)="clearFields()">Limpiar</ion-button>
  <ion-button expand="full" (click)="showMessage()">Mostrar</ion-button>
</ion-content>
